TemplateDesignerV2/Service References/MISAuthenticationSvc/AuthSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MPC.Server.DAL.Navigation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MPC.Server.DAL.Navigation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MIS/Services/AuthSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="tbl_systemusers">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CanSendEmail" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanySiteID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CostPerHour" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CurrentMachineIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentMachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailSignature" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAccountDisabled" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IsScheduleable" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IsSystemUser" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsTillSupervisor" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="LockedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReplyEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SmtpPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmtpServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmtpUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SystemUserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserAuthToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tbl_company_sites" nillable="true" type="tns:tbl_company_sites" />
          <xs:element minOccurs="0" name="tbl_company_sitesReference" nillable="true" type="q1:EntityReferenceOftbl_company_sites_S0T01Jvi" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tbl_systemusers" nillable="true" type="tns:tbl_systemusers" />
  <xs:complexType name="tbl_company_sites">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CompanySiteID" type="xs:int" />
          <xs:element minOccurs="0" name="CompanySiteName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerAccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LicenseLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MISLogo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MarkupID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderManagerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentBusinessEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentGatewayID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentIdentityToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductionManagerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ReportEstimateBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportInvoiceBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportJobCardBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportOrderBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesManagerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SmtpPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmtpServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmtpUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateTaxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Tax1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tax2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tax2ID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Tax3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tax3ID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TaxRegistrationNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteLogo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isShowPrices" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isShowVoucherCode" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="tbl_systemusers" nillable="true" type="tns:ArrayOftbl_systemusers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tbl_company_sites" nillable="true" type="tns:tbl_company_sites" />
  <xs:complexType name="ArrayOftbl_systemusers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_systemusers" nillable="true" type="tns:tbl_systemusers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_systemusers" nillable="true" type="tns:ArrayOftbl_systemusers" />
</xs:schema>