DesignerUI/Service References/UserServiceReference/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemplateDesigner.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemplateDesigner.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserImages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserImages" nillable="true" type="tns:UserImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserImages" nillable="true" type="tns:ArrayOfUserImages" />
  <xs:complexType name="UserImages">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageAbsolutePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageHeight" type="xs:int" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageRelativePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserImages" nillable="true" type="tns:UserImages" />
</xs:schema>