DesignerUI/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TemplateDesigner/services/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TemplateDesigner/services/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TemplateDesigner/services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TemplateDesigner.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_IsUserLogined_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserLogined" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserLogined_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserLoginedResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImages" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CropImage_InputMessage">
    <wsdl:part name="parameters" element="tns:CropImage" />
  </wsdl:message>
  <wsdl:message name="IUserService_CropImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CropImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="IsUserLogined">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsUserLogined" message="tns:IUserService_IsUserLogined_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsUserLoginedResponse" message="tns:IUserService_IsUserLogined_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UserLogin" message="tns:IUserService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserLoginResponse" message="tns:IUserService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserImages" message="tns:IUserService_GetUserImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserImagesResponse" message="tns:IUserService_GetUserImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CropImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CropImage" message="tns:IUserService_CropImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CropImageResponse" message="tns:IUserService_CropImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserLogined">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsUserLogined" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserImages">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CropImage">
      <soap:operation soapAction="http://tempuri.org/IUserService/CropImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost/TemplateDesigner/services/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>